.content
  %h1 Login to Collegiate Salsa Open
  %p= link_to 'Login with Facebook', '/sessions/facebook', class: 'btn btn-primary-outline'
  %p= link_to 'Login with Google', '/sessions/google', class: 'btn btn-primary-outline'
