%tr
  %td.hidden-xs-down
    %h3= ticket_option.name
  %td.hidden-xs-down.text-nowrap
    = link_to 'Edit', edit_event_ticket_option_path(ticket_option.event, ticket_option), class: 'btn btn-secondary'
