.content
  %h1 Administration
  .card.card-block
    - @upcoming_events.each do |event|
      %h3= event.name
      %ul
        - (event.tickets | event.addons).uniq do |product|
          %li #{product.name}: #{product.product_purchases.count}
