%section.page
  %h1 Tickets
  %ul
    - @purchasable_events.each do |event|
      %li
        %h2= event.name
        %ul
          - event.ticket_options.each do |ticket_option|
            %li
              = ticket_option.name
              = link_to 'Purchase', new_event_ticket_option_ticket_purchase_path(event, ticket_option), class: 'btn btn-secondary'
