%section.page
  %h1 Tickets
  %ul
    - @purchasable_events.each do |event|
      %li
        %h2= event.name
        %ul
          - event.tickets.each do |ticket|
            %li
              = ticket.name
              = link_to 'Purchase', purchase_event_ticket_path(event, ticket), class: 'btn btn-secondary'
