%section.home-section#about
  %div
    %h1.display-4.text-xs-center About Us: The Latin Dance Alliance</h1>
    %p The Collegiate Salsa Open (CSO) is organized by the Latin Dance Alliance (LDA). The LDA was created in 2014 by leaders of the college Latin dance community. The LDA's mission is to:
    %ul.fa-ul
      %li
        %span.fa-li.fa.fa-heart
        Promote the spirit of community and love for dance
      %li
        %span.fa-li.fa.fa-graduation-cap
        Support the college Latin dance community's health and growth
    %p In regards to the college Latin dance community, the LDA seeks to accomplish this by:
    %ul.fa-ul
      %li
        %span.fa-li.fa.fa-group
        Unifying the college Latin dance community
      %li
        %span.fa-li.fa.fa-cogs
        Providing support and training opportunities for social, performance, and competitive college clubs and teams
      %li
        %span.fa-li.fa.fa-globe
        Building relationships and awareness between teams
      %li
        %span.fa-li.fa.fa-calendar
        Assisting coordination between socials
      %li
        %span.fa-li.fa.fa-key
        Helping leadership transition from generation to generation
      %li
        %span.fa-li.fa.fa-trophy
        Creating a meaningful space (The CSO) for the college Latin dance community to come together to compete, perform, and socialize
    %h2 LDA Financial Responsibility in the College Dance Community
    %p In an effort to uphold the ideals of the college dance community, all of the LDA's college activities (including but not limited to The CSO) are not-for-profit. Specifically, board advisors and other LDA members receive no payment for their involvement in the LDA's college activities. Their positions are voluntary and are taken on as a way to give back to the community. All proceeds from college activities will go directly back into the college dance community.
    %p We do however recognize the individuals and organizations that work closely with the college dance community (promoters, DJs, instructors, etc). The college dance community depends on and greatly benefits from their hard work and recognizes that these business people should be paid fairly for that work. The LDA supports these individuals being paid fairly whether working directly with the LDA or in the college dance community in general.
