%section.home-section#event-information
  %div
    %h2.hidden-md-up Event Information
    .row
      .col-md-offset-1.col-md-5.center-flex
        %p.lead
          The Collegiate Salsa Open is the premiere salsa summit where dancers from colleges and communities all over
          California come together to celebrate our unique salsa scene through competitions, performances, and all-night
          social dancing. The CSO is organized by the college dance community for the college dance community.
      .col-md-4.center-flex
        %div
          %h2 Schedule
          %p
            %div The 2016 CSO will be held on
            %div Saturday, May 7th, 2016
            %div in downtown Los Angeles.
          %p
            %div
              %strong Workshops:
              4:30pm, 5:30pm, 6:30pm
            %div
              %strong Performances:
              7:30pm - 8:30pm
            %div
              %strong Competition:
              8:30pm - 9:30pm
            %div
              %strong Social Dancing:
              9:30pm - 3:00am
    %p.text-xs-center
      = link_to 'Tickets', user_tickets_path, class: 'btn btn-lg btn-primary-outline'
      = link_to 'Last Year', root_path(anchor: 'cso-2015'), class: 'btn btn-lg btn-primary-outline page-scroll'
      = link_to 'About Us', root_path(anchor: 'about'), class: 'btn btn-lg btn-primary-outline page-scroll'
