%section.home-section#landing
  .jumbotron-fluid.text-xs-center
    %h1.display-3 The 2017 Collegiate Salsa Open
    %hr.jumbotron-hr
    %p.lead
      Returning for our third year on
      %span.strong Saturday, April 22, 2017.
    %p
      = link_to "Let's Dance", root_path(anchor: 'event-information'), class: 'btn btn-lg btn-primary-outline page-scroll'
