%section.home-section#landing
  .jumbotron-fluid.text-xs-center
    %h1.display-3 The 2016 Collegiate Salsa Open
    %hr.jumbotron-hr
    %p.lead
      Returning for our second year on
      %span.strong Saturday, May 7, 2016.
    %p
      = link_to "Let's Dance", root_path(anchor: 'event-information'), class: 'btn btn-lg btn-primary-outline page-scroll'
