%section.home-section#landing
  .jumbotron-fluid.text-xs-center
    %h1.display-3 The 2016 Collegiate Salsa Open
    %hr.jumbotron-hr
    %p.lead
      The Collegiate Salsa Open is the premiere salsa summit where dancers from colleges and communities all over
      California come together to celebrate our unique salsa scene through competitions, performances, and all-night
      social dancing.
      -# The CSO is organized by the college dance community for the college dance community.
    %p
      %div.lead By the students, for the students, two years running
      %div.lead Returning in 2017
    %p= link_to "Let's Dance", root_path(anchor: 'cso-archive'), class: 'btn btn-lg btn-primary-outline page-scroll'
