%nav.navbar.navbar-fixed-top.navbar-light.bg-faded
  = link_to 'Collegiate Salsa Open', root_path, class: 'navbar-brand page-scroll'
  %ul.nav.navbar-nav
    %li.nav-item= link_to 'Event Information', root_path(anchor: 'event-information'), class: 'nav-link page-scroll'
    %li.nav-item= link_to 'Registration', root_path, class: 'nav-link'
