.row
  %strong.col-xs-12.col-sm-4.col-lg-2 Base Price
  .col-xs-12.col-sm-8.col-lg-10= humanized_money_with_symbol ticket_base_price(ticket)
  %strong.col-xs-12.col-sm-4.col-lg-2  Processing Fees
  .col-xs-12.col-sm-8.col-lg-10= humanized_money_with_symbol ticket_processing_fees(ticket)
  %strong.col-xs-12.col-sm-4.col-lg-2 Total Price
  .col-xs-12.col-sm-8.col-lg-10= humanized_money_with_symbol ticket_total_price(ticket)
