.content
  %h1 Tickets
  - if @upcoming_events.empty?
    .card.card-block There are no upcoming events.
  - else
    .row
      - @upcoming_events.each do |event|
        .col-sm-6.col-md-4
          = render 'tickets/event', event: event
  - unless @past_event_event_purchases.empty?
    .card
      .card-block
        %h4.card-title Your Past Events
      = render 'event_purchases/event_purchase_table', event_purchases: @past_event_event_purchases
