.content
  %h1 Tickets
  - if @upcoming_events.empty?
    .card.card-block There are no upcoming events.
  - else
    .row
      - @upcoming_events.each do |event|
        .col-sm-6.col-md-4
          = render 'tickets/event', event: event
