.content
  %h1 Tickets
  - unless @upcoming_events.empty?
    .row
      - @upcoming_events.each do |event|
        .col-sm-6.col-md-4
          = render 'tickets/event', event: event
  - else
    .card.card-block
      %p Online sales are now closed. Any available tickets may be purchased at the registration desk. Come and dance!
