%script{src: 'https://checkout.stripe.com/checkout.js', class: 'stripe-button',
  data: {email: email,
    allow_remember_me: 'false',
    name: name,
    zip_code: 'true',
    billing_address: 'true',
    image: image_url('cso-stripe-checkout.jpg'),
    key: Rails.configuration.stripe[:publishable_key],
    description: description,
    amount: amount,
    locale: 'auto'}}
