.content
  %h1 #{@event_purchase.event.name} Purchase Confirmation
  .card.card-block
    %p= render partial: 'event_purchases/event_purchase_breakdown', locals: {event_purchase: @event_purchase, user: @event_purchase.user}
    %p
      = link_to 'Back', my_tickets_path, class: 'btn btn-primary-outline'
