@import variables
@import bootstrap/mixins

section.home-section
  @include make-container()
  min-height: calc(100vh - #{$navbar-height})

  display: flex
  align-items: center
  justify-content: center

#landing
  position: relative
  &:before
    content: ''
    z-index: -1
    position: absolute
    height: 100%
    left: 0
    right: 0
    background: image-url('cso.svg') no-repeat center center
    background-size: auto 125%
    opacity: 0.1
  &:after
    content: ''
    z-index: -2
    position: absolute
    height: 100%
    left: 0
    right: 0
    background-color: $gray-lightest

#event-information
  background-color: aquamarine
