@import variables
@import bootstrap/mixins

section.home-section
  @include make-container()

@mixin center-page
  display: flex
  align-items: center
  justify-content: center

@mixin image-background($image-url, $opacity: 0.33)
  min-height: calc(100vh - #{$navbar-height})
  position: relative
  &:before
    content: ''
    z-index: -1
    position: absolute
    height: 100%
    left: 0
    right: 0
    background: $image-url no-repeat center center
    background-size: cover
    opacity: $opacity

#landing
  @include center-page
  @include image-background(image-url('cso.svg'), 0.1)
  &:before
    background-size: auto 125%
  &:after
    content: ''
    z-index: -2
    position: absolute
    height: 100%
    left: 0
    right: 0
    background-color: $gray-lightest

#event-information
  @include center-page
  @include image-background(image-url('cso-2015/sjsu-split.jpg'))

#cso-2015
  @include center-page
  @include image-background(image-url('cso-2015/csulb.jpg'))

#about
  @include center-page
  @include image-background(image-url('cso-2015/social-dancing.jpg'))

#tickets
  @include image-background(image-url('cso-2015/workshop.jpg'))
