%nav.navbar.navbar-fixed-top.navbar-light.bg-faded
  = link_to 'Collegiate Salsa Open', root_path, class: 'navbar-brand page-scroll'
  %button.navbar-toggler.hidden-md-up.pull-xs-right{data: {toggle: 'collapse', target: '#navbar-menu'}, role: 'button'} ☰
  #navbar-menu.collapse.navbar-toggleable-sm
    %ul.nav.navbar-nav
      %li.nav-item= link_to 'Event Information', root_path(anchor: 'event-information'), class: 'nav-link page-scroll'
      %li.nav-item= link_to 'Tickets', tickets_status_path, class: 'nav-link'
      - if logged_in?
        %li.nav-item= link_to 'Logout', destroy_session_path, method: :delete, class: 'nav-link'
